* {
  padding: 20px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.post {
  background-color: brown;
  border-radius: 10px;
  height: 55vh;
  width: 23%;
  margin-left: 20px;
}
